# ============================================================================ #
# OS Generated                                                                 #
# ============================================================================ #
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
*.zip


# ============================================================================ #
# Unity Generated                                                              #
# ============================================================================ #
*/[Tt]emp/
*/[Ll]ibrary/
*/[Oo]bj/
*/sysinfo.txt
*/*.stackdump


# ============================================================================ #
# Visual Studio / MonoDevelop Generated                                        #
# ============================================================================ #
*/.vs/
[Ee]xported[Oo]bj/
*.pidb
*.suo
*.user
*.unityproj
*.booproj


# ============================================================================ #
# Common Repository Child Directories                                          #
# ============================================================================ #
/[Bb]uild/
/[Bb]uilds/
